<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ workout.imagePath }}"
      alt="{{ workout.name }}"
      class="img-responsive"
      style="max-height: 200px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ workout.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Workout <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="OnAddToShoppingList()"
            >To Shoping list</a
          >
        </li>
        <li style="cursor: pointer"><a (click)="onEditWorkout()">Edit</a></li>
        <li style="cursor: pointer">
          <a (click)="onDeleteWorkout()">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ workout.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of workout.ingredients"
      >
        {{ ingredient.name }} {{ ingredient.sets }}x{{ ingredient.reps }}
      </li>
    </ul>
  </div>
</div>
